<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>{{ title }}!</h1>
  <nav>
    <a routerLink="/heroes">Hereos</a>
    <a routerLink="/dashboard">Dashboard</a>
  </nav>
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>



<!--
<ul>
  <li>
    <span><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></span>
  </li>
  <li>
    <span><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></span>
  </li>
</ul> -->

